@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Detail Product Page";
}
@model Web_Shoe_PTWeb.Models.Product
<div id="templatemo_content">


    <div class="content_section">

        <div style="display: flex; flex-direction: row; justify-content:space-between">

            <div class="image-product">
                <div class="product_box margin_r40">
                    <div class="image_wrapper"><a href="#"><img src="~/@ViewBag.product.ImageUrl" alt="product" , height="170" /></a></div>
                </div>
            </div>
            <div class="product_box">

                <h3>@ViewBag.product.Name</h3>
                <p>@ViewBag.product.Description</p>
                <p class="price" id="txtsoLuong">Inventory: @ViewBag.product.Quanity</p>
                <p class="price">Price: $@ViewBag.product.Price.00</p>
                <p class="price">Promation Price: $@ViewBag.product.PromationPrice.00</p>

                @*<div >
                    <a class="addCart button" style="vertical-align:middle" href="javascript:void(0)">
                        <span style="color:white">Buy now </span>
                    </a>
                    <input hidden asp-for="ProductId" />
                </div>
                <button class="addCart">add</button>*@

                <a asp-controller="ShoppingCart"
                   asp-action="buy"
                   asp-route-id="@ViewBag.product.ProductId"
                   class="button"
                   style="vertical-align:middle">
                    <span style="color:white">Buy now </span>
                    @*<input hidden asp-for="ProductId" />*@
                </a>
            </div>
        </div>


        <div class="cleaner"></div>

    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $(".addCart").click(function () {
                    var productid = $('#ProductId').val();
                    var soLuong = $('#txtsoLuong').val();
                    $.ajax({
                        url: "/api/cart/add",
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            Id: productid,
                            Amount: soLuong
                        },
                        success: function (response) {
                            //loadHeaderCart();// add product success
                            location.reload();
                            alert("success");
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });
            });

            function loadHeaderCart() {
                //$("#miniCart").load("/AjaxContent/HeaderCart");
                $("#ShoppingCart").load("/AjaxContent/NumberCart");
            }
        })
    </script>
}