@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
@model Web_Shoe_PTWeb.Models.CheckoutModel
@{
    Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
    List<Web_Shoe_PTWeb.Models.CartItem> carts = ViewBag.cart;
    //Web_Shoe_PTWeb.Models.AspNetUser user = ViewBag.user;
}
@using Microsoft.AspNetCore.Identity
@using Web_Shoe_PTWeb.Areas.Identity.Data
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div id="templatemo_content" style="width:700px">


    <div class="content_section">
        <h2>Order Information</h2>
        <form asp-controller="Checkout" asp-action="Index" method="post">
            <div style="display:flex; justify-content:space-between">
                <div style="width:300px">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@

                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div><div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    @*@if (Model.PhoneNumber == null)
                        {
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control" disabled />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        }*@
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ShipAdress"></label>
                        <input asp-for="ShipAdress" class="form-control" />
                        <span asp-validation-for="ShipAdress" class="text-danger"></span>
                    </div>
                </div>
                <div style="width:300px">
                    <table id="customers">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.cart != null && ViewBag.cart.Count > 0)
                            {

                                @foreach (var item in carts)
                                {

                                    <tr>
                                        <td>@item.Product.Name <b>  x @item.Amount</b></td>

                                        <td>$@item.TotalMoney.00</td>


                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                    <br />
                    <b style=" font-size: 15px">Total Money: $@ViewBag.total.00</b>
                    <br />
                    <br />
                    <input class="button" style="vertical-align:middle" value="Checkout Confirmation" type="submit" />
                </div>
            </div>

        </form>



    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
